In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from passwords import *

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.ny.gov", API_TOKEN)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.ny.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wujg-7c2s", limit=50000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [3]:
results_df

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2024-02-10T10:00:00.000,subway,159,"81 St-Museum of Natural History (C,B)",Manhattan,metrocard,Metrocard - Fair Fare,2.0,0.0,40.781433,-73.972145,"{'type': 'Point', 'coordinates': [-73.972145, ...",2095,749,NaN
1,2024-02-10T19:00:00.000,subway,125,Morgan Av (L),Brooklyn,metrocard,Metrocard - Full Fare,22.0,0.0,40.706154,-73.93314,"{'type': 'Point', 'coordinates': [-73.93314, 4...",2090,894,884
2,2024-02-10T16:00:00.000,subway,296,Marble Hill-225 St (1),Manhattan,metrocard,Metrocard - Fair Fare,4.0,1.0,40.87456,-73.90983,"{'type': 'Point', 'coordinates': [-73.90983, 4...",2032,749,676
3,2024-02-10T15:00:00.000,subway,84,85 St-Forest Pkwy (J),Queens,metrocard,Metrocard - Unlimited 7-Day,25.0,0.0,40.692436,-73.86001,"{'type': 'Point', 'coordinates': [-73.86001, 4...",2137,196,1168
4,2024-02-10T07:00:00.000,subway,81,111 St (J),Queens,metrocard,Metrocard - Unlimited 7-Day,10.0,0.0,40.69742,-73.83634,"{'type': 'Point', 'coordinates': [-73.83634, 4...",2137,196,1165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2024-01-27T23:00:00.000,subway,168,"Spring St (C,E)",Manhattan,metrocard,Metrocard - Fair Fare,7.0,0.0,40.726227,-74.00374,"{'type': 'Point', 'coordinates': [-74.00374, 4...",2095,749,736
49996,2024-01-27T23:00:00.000,subway,283,Greenpoint Av (G),Brooklyn,metrocard,Metrocard - Fair Fare,5.0,0.0,40.731354,-73.95445,"{'type': 'Point', 'coordinates': [-73.95445, 4...",2090,894,901
49997,2024-01-27T14:00:00.000,subway,10,"49 St (N,R,W)",Manhattan,metrocard,Metrocard - Unlimited 30-Day,53.0,0.0,40.7599,-73.98414,"{'type': 'Point', 'coordinates': [-73.98414, 4...",2095,749,742
49998,2024-01-27T22:00:00.000,subway,113,Knickerbocker Av (M),Brooklyn,metrocard,Metrocard - Full Fare,7.0,0.0,40.698666,-73.91971,"{'type': 'Point', 'coordinates': [-73.91971, 4...",2090,894,820
49999,2024-01-27T12:00:00.000,subway,328,WTC Cortlandt (1),Manhattan,metrocard,Metrocard - Full Fare,1.0,0.0,40.711834,-74.01219,"{'type': 'Point', 'coordinates': [-74.01219, 4...",2095,749,722

In [4]:
if 'station_complex_id' in results_df.columns:
    # Extract unique station_complex_id values
    unique_station_ids = results_df['station_complex_id'].unique()

    # Print how many unique station IDs there are
    print(f"Number of unique station_complex_id: {len(unique_station_ids)}")
    
    # Print the list of unique station IDs
    print(unique_station_ids)

    # Optionally save the unique station IDs to a file for future use
    pd.Series(unique_station_ids).to_csv("unique_station_ids.csv", index=False, header=['station_complex_id'])
    
else:
    print("The 'station_complex_id' column is not in the dataset. Please check the column names.")

Number of unique station_complex_id: 420
['159' '125' '296' '84' '81' '432' '243' '131' '444' '183' '305' '193'
 '30' '456' '78' '79' '127' '45' '158' '191' '52' '354' '463' '304' '188'
 '297' '447' '150' '452' '13' '83' '460' '9' '129' '130' '157' '54' '162'
 '154' '438' '455' '43' '242' '351' '181' '134' '209' '446' '254' '152'
 '357' '122' '457' '451' '153' '430' '124' '8' '450' '44' '126' '46' '356'
 '86' '350' '120' '433' '443' '241' '621' '16' '189' '194' '352' '448'
 '300' '185' '441' '458' '87' '353' '156' '461' '36' '360' '77' '187'
 '459' '620' '359' '192' '182' '427' '429' '82' '80' '299' '449' '298'
 '437' '56' '89' '303' '155' '453' '440' '434' '151' '180' '220' '119'
 '445' '133' '35' '428' '51' '22' '160' '3' '85' '88' '186' '53' '55'
 '358' '436' '306' '123' '442' '62' '431' '355' '349' '221' '622' '301'
 '190' '5' '215' '439' '218' '211' '213' '217' '76' '212' '240' '245'
 '250' '244' '66' '277' '210' '248' '407' '252' '405' '262' '214' '251'
 '222' '255' '409' '476' '385' '372' '246' '32' '204' '34' '333' '216'
 '336' '165' '386' '247' '384' '114' '325' '294' '373' '292' '208' '28'
 '377' '173' '378' '253' '313' '607' 'TRAM1' '6' '312' '369' '276' '601'
 '368' '366' '624' '91' '623' '270' '319' '69' '403' '608' '96' '611'
 '310' '99' '603' '605' '365' '610' '90' '371' '318' '271' '70' '64' '61'
 '307' '625' '308' '471' '364' '278' '604' '367' '272' '414' '609' '636'
 '361' '60' '363' '404' '49' '4' '94' '48' '475' '606' '259' '75' '309'
 '370' '629' '627' '97' '268' '413' '501' '72' '630' '37' '314' '626' '98'
 '261' '58' '65' '71' '264' '57' '265' '311' '602' '258' '95' '68' '399'
 '613' '67' '273' '50' '628' '257' '397' '93' '362' '502' '316' '477' '47'
 '260' '464' '74' '263' '59' '269' '612' '398' '635' 'TRAM2' '26' '256'
 '266' '31' '41' '113' '334' '295' '110' '147' '201' '175' '321' '146'
 '144' '228' '234' '287' '232' '197' '205' '136' '344' '392' '10' '169'
 '291' '107' '231' '324' '327' '143' '323' '286' '135' '198' '339' '375'
 '235' '101' '382' '141' '326' '145' '2' '374' '202' '337' '137' '320'
 '176' '14' '420' '168' '289' '17' '42' '207' '33' '39' '348' '282' '103'
 '237' '20' '195' '179' '225' '347' '340' '283' '203' '149' '383' '236'
 '100' '293' '393' '345' '376' '396' '426' '279' '280' '109' '329' '346'
 '290' '164' '108' '343' '167' '138' '38' '341' '200' '223' '238' '387'
 '288' '118' '388' '381' '177' '395' '394' '196' '379' '380' '111' '284'
 '1' '206' '424' '391' '199' '418' '416' '328' '419' '425' '421' '422'
 '423' '417']

In [5]:
# Filter the list to keep only numeric values
numeric_station_ids = [station_id for station_id in unique_station_ids if station_id.isdigit()]

# Sort the list in ascending order
numeric_station_ids_sorted = sorted(numeric_station_ids, key=int)

# Print or save the cleaned and sorted list
print(numeric_station_ids_sorted)

['1', '2', '3', '4', '5', '6', '8', '9', '10', '13', '14', '16', '17', '20', '22', '26', '28', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '64', '65', '66', '67', '68', '69', '70', '71', '72', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '93', '94', '95', '96', '97', '98', '99', '100', '101', '103', '107', '108', '109', '110', '111', '113', '114', '118', '119', '120', '122', '123', '124', '125', '126', '127', '129', '130', '131', '133', '134', '135', '136', '137', '138', '141', '143', '144', '145', '146', '147', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '162', '164', '165', '167', '168', '169', '173', '175', '176', '177', '179', '180', '181', '182', '183', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '220', '221', '222', '223', '225', '228', '231', '232', '234', '235', '236', '237', '238', '240', '241', '242', '243', '244', '245', '246', '247', '248', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '268', '269', '270', '271', '272', '273', '276', '277', '278', '279', '280', '282', '283', '284', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '316', '318', '319', '320', '321', '323', '324', '325', '326', '327', '328', '329', '333', '334', '336', '337', '339', '340', '341', '343', '344', '345', '346', '347', '348', '349', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '370', '371', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '391', '392', '393', '394', '395', '396', '397', '398', '399', '403', '404', '405', '407', '409', '413', '414', '416', '417', '418', '419', '420', '421', '422', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '436', '437', '438', '439', '440', '441', '442', '443', '444', '445', '446', '447', '448', '449', '450', '451', '452', '453', '455', '456', '457', '458', '459', '460', '461', '463', '464', '471', '475', '476', '477', '501', '502', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '620', '621', '622', '623', '624', '625', '626', '627', '628', '629', '630', '635', '636']

In [72]:
# Define the station_complex_id you want to pull data for
station_id = '1'
start_date = '2023-01-01T00:00:00'
end_date = '2023-12-31T23:59:59'

# Pull 8760 (yearly) results for metro card types
results_metro_full = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Full Fare' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_fair = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Fair Fare' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_other = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Other' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_senior = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Seniors & Disability' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_student = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Students' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_unlimited = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Unlimited 30-Day' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_metro_unlimited_7d = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='metrocard' AND fare_class_category='Metrocard - Unlimited 7-Day' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)

#pull 8760 (yearly) results from omny
results_omny_full= client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='omny' AND fare_class_category='OMNY - Full Fare' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_omny_other = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='omny' AND fare_class_category='OMNY - Other' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)
results_omny_seniors = client.get("wujg-7c2s", where=f"station_complex_id = '{station_id}' AND payment_method='omny' AND fare_class_category='OMNY - Seniors & Disability' AND transit_timestamp >= '{start_date}' AND transit_timestamp <= '{end_date}'", limit=20000)

# Convert the results to a DataFrame
metro_full_df = pd.DataFrame.from_records(results_metro_full)
metro_fair_df = pd.DataFrame.from_records(results_metro_fair)
metro_other_df = pd.DataFrame.from_records(results_metro_other)
metro_senior_df = pd.DataFrame.from_records(results_metro_senior)
metro_student_df = pd.DataFrame.from_records(results_metro_student)
metro_unlimited_df = pd.DataFrame.from_records(results_metro_unlimited)
metro_unlimited_7d_df = pd.DataFrame.from_records(results_metro_unlimited_7d)

omny_full_df = pd.DataFrame.from_records(results_omny_full)
omny_other_df = pd.DataFrame.from_records(results_omny_other)
omny_seniors_df = pd.DataFrame.from_records(results_omny_seniors)

In [64]:
metro_other_df

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference
0,2023-09-14T04:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,7.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
1,2023-09-14T21:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,12.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
2,2023-09-14T12:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,20.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
3,2023-09-14T16:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,29.0,1.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
4,2023-09-14T20:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,19.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8488,2023-07-16T00:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,4.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
8489,2023-07-16T18:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,8.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
8490,2023-07-16T22:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,6.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
8491,2023-07-16T10:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,13.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."
8492,2023-07-16T05:00:00.000,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Other,8.0,0.0,40.775036,-73.91203,"{'type': 'Point', 'coordinates': [-73.91203, 4..."

In [73]:
metro_full_df = metro_full_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_fair_df = metro_fair_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_other_df = metro_other_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_senior_df = metro_senior_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_student_df = metro_student_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_unlimited_df = metro_unlimited_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
metro_unlimited_7d_df = metro_unlimited_7d_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])

omny_full_df = omny_full_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
omny_other_df = omny_other_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])
omny_seniors_df = omny_seniors_df.drop(columns=['transit_mode', 'transit_timestamp', 'transfers', 'latitude', 'longitude', 'georeference'])

In [74]:
metro_full_df['ridership'] = pd.to_numeric(metro_full_df['ridership'], errors='coerce')
metro_fair_df['ridership'] = pd.to_numeric(metro_fair_df['ridership'], errors='coerce')
metro_other_df['ridership'] = pd.to_numeric(metro_other_df['ridership'], errors='coerce')
metro_senior_df['ridership'] = pd.to_numeric(metro_senior_df['ridership'], errors='coerce')
metro_student_df['ridership'] = pd.to_numeric(metro_student_df['ridership'], errors='coerce')
metro_unlimited_df['ridership'] = pd.to_numeric(metro_unlimited_df['ridership'], errors='coerce')
metro_unlimited_7d_df['ridership'] = pd.to_numeric(metro_unlimited_7d_df['ridership'], errors='coerce')

omny_full_df['ridership'] = pd.to_numeric(omny_full_df['ridership'], errors='coerce')
omny_other_df['ridership'] = pd.to_numeric(omny_other_df['ridership'], errors='coerce')
omny_seniors_df['ridership'] = pd.to_numeric(omny_seniors_df['ridership'], errors='coerce')

In [108]:
metro_full_data = metro_full_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_fair_data = metro_fair_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_other_data = metro_other_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_senior_data = metro_senior_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_student_data = metro_student_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_unlimited_data = metro_unlimited_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
metro_unlimited_7d_data = metro_unlimited_7d_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()

omny_full_data = omny_full_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
omny_other_data = omny_other_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()
omny_seniors_data = omny_seniors_df.groupby(['station_complex_id', 'station_complex', 'borough', 'payment_method']).agg({'ridership': 'sum'}).reset_index()

In [ ]:


# Step 1: Start by merging all the metro dataframes
metro_combined_df = metro_full_data.merge(metro_fair_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('_full', '_fair')) \
    .merge(metro_other_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_other')) \
    .merge(metro_senior_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_senior')) \
    .merge(metro_student_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_student')) \
    .merge(metro_unlimited_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_unlimited')) \
    .merge(metro_unlimited_7d_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_unlimited_7d'))

# Step 2: Now, merge the OMNY dataframes similarly (no suffixes needed here)
omny_combined_df = omny_full_data.merge(omny_other_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('_full', '_other')) \
    .merge(omny_seniors_data, on=['station_complex_id', 'station_complex', 'borough', 'payment_method'], suffixes=('', '_senior'))

metro_combined_df = metro_combined_df.drop(columns=['payment_method'])
omny_combined_df = omny_combined_df.drop(columns=['payment_method'])

combined_df = metro_combined_df.merge(omny_combined_df, on=['station_complex_id', 'station_complex', 'borough'], how='outer', suffixes=('_metro', ''))
combined_df['total_ridership'] = combined_df[['ridership_full_metro', 'ridership_fair', 'ridership_other', 
                                              'ridership_senior', 'ridership_student', 'ridership_unlimited', 
                                              'ridership_unlimited_7d', 'ridership_full', 'ridership', 
                                              'ridership_senior']].sum(axis=1, skipna=True)

datapoint = combined_df